@mixin bg-img-transition( $bg1, $bg2, $time:0.5s){  
  position: relative;  
  z-index: 100; 

  &:before, &:after {
    content: '';    
    display: block;
    height: 100%;
    position: absolute;
    top: 0; left: 0;    
    width: 100%;    
    transition: opacity $time;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
  }

  &:before {    
    z-index: -101;
    background: $bg1;
  }

  &:after {    
    // z-index: -100;
    opacity: 0;
    background-image: url("#{$bg2}");    
  }

  &:hover {
    //  &:after{
    //    opacity: 1; 
    //  }
    &:before{
      background-image: url("#{$bg2}");   
    }
  }  
}