$grid-columns: 12 !default;
$grid-gutter: 16px !default;
$grid-container-max-width: 1200px !default;
$grid-container-gutter: 12px !default;

$grid-breakpoints: (
  sm: 600px,
  md: 900px,
  lg: 1200px,
  xl: 1800px
) !default;

$palette: (
  'primary': #ff4500,
  'secondary': #6c757d,
  'success': #28a745,
  'info': #17a2b8,
  'warning': #ffc107,
  'danger': #dc3545,
  'light': #eeeeee,
  'dark': #555,
  'midgray': #ccc,
  'white': #fff,
  'black': #1f1f1f
);

$border-dark: 2px solid map-get($palette, 'black');
$tab-width: 16rem;